tickTime={{ tick_time }}
dataDir={{ data_dir }}
dataLogDir={{ log_dir }}
clientPort={{ client_port }}
initLimit={{ init_limit }}
syncLimit={{ sync_limit }}


{% for server in zookeeper_hosts %}
{% if server.host is defined %}
server.{{server.id}}={{groups["network"][server.host].ip}}:2888:3888
{% else %}
server.{{loop.index}}={{groups["network"][server].ip}}:2888:3888
{% endif %}
{% endfor %}
